Package: akb
Source: akb
Version: 1.5.11
Architecture: amd64
Maintainer: fuldaros <ya.lineageteam@yandex.ru>
Installed-Size: 2000
Replaces: akb (<= 1.5.10)
Section: utils
Priority: optional
Description: Automatic Kernel Builder 1.5-nightly
 AKB by fuldaros
Original-Maintainer: fuldaros <ya.lineageteam@yandex.ru>
